// @import url("https://fonts.cdnfonts.com/css/helvetica-neue-5");

/*-- scss:defaults --*/

// $font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-sans-serif: Arial, sans-serif !default;
$font-family: Arial, sans-serif;
$presentation-h1-font-size: 45px;
$presentation-h2-font-size: 45px;
$orange: #ea973e;
$blue: #014A8E;


/*-- scss:rules --*/
// https://github.com/hakimel/reveal.js/blob/680cf5edb8092801efb3e8756418829db86f7895/js/controllers/backgrounds.js#L296C4-L296C4
.slide-background-content {
  // https://github.com/hakimel/reveal.js/issues/566
  background: url('https://raw.githubusercontent.com/celsocrivelaro/senac-theme/main/slide-comum.png');
  background-size: contain !important;
  // /* the following are for firefox 70 */
  opacity:1 !important;
  z-index:1 !important;
}

// Slide de Abertura
section#title-slide {
  h1 {
    font-size: 60px;
    font-weight: normal;
    color: $blue;
    margin-top: 1px;
    margin-bottom: 1px;
    padding-top: 200px;
    padding-bottom: 1px;
    position: relative;
    width: 100%;
    border-bottom-width: 0px;
    text-align: center;
    top: 0;
  }

  p.subtitle {
    font-size: 40px;
    font-weight: bold;
    color: $blue;
    margin-top: 10px;
    margin-bottom: 1px;
    padding-top: 1px;
    padding-bottom: 1px;
  }
  
  div.quarto-title-author-name {
    font-size: 30px;
    font-weight: bold;
  }

  p.quarto-title-author-name {
    font-size: 30px;
  }
}

section {
  .slide {
    h1, h2 {
      color: $orange;
      text-align: right;
      position: relative;
      top: 0;
      width: 90%;
      font-weight: normal;
    }

    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    ol, ul {
      list-style-type: none;
      width: 100%;

      li {
        padding:10px;
        margin-right:50px;
        margin-top: 20px;
        border: 2px solid #000;
        font-size: 35px; 
        width: 95%;

        strong {
          font-weight: bolder;
        }
      }
    }
  }
}